body{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/21/04/46/barley-field-1684052__480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.Header{
    font-size: 28px;
    text-align: left;
}
.img{
    padding-top: 3%;
    width: 250px;
    height: auto;
    position: relative;

}
.container{
    padding-top: 13%;
    color: wheat;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-display: block;
    position: relative;
}
 
  .company-name {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  .tagline {
    font-size: 1.2rem;
    font-weight: normal;
    color: #666;
    margin-top: 0.5rem;
  }
  #menu ul {
    display: none;
  }
  
  #menu li:hover > ul {
    display: block;
  }
  nav {
    background-color: rgb(25, 141, 64);
    font-size: 18px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background-color: #555;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
  }
  
  nav ul ul li {
    display: block;
  }
  
  nav ul ul li a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul ul li:hover {
    background-color: #555;
  }
    